# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Unignore Makefile
!Makefile

# Object files
*.o

# Dependecy files
*.d

# Library files
*.a

# Executables
*.out
*.exe

# Debug files
*.dSYM/

# Mac folder files
.DS_Store

# VSCode files
.vscode

# specific files
ft_containers-modular-tester.zip